/* ---------- reset ------------ */
*{margin: 0; padding: 0;}
li{list-style: none;}
img{display:block; width: 100%; height: auto;}
a{text-decoration: none; color: black;}

.title_box{
    width: 1030px;
    display: flex;
    margin-bottom: 15px;
}

.title_line{
    width: 400px; height: 30px;
    padding-top: 15px; box-sizing: border-box;
}

.title_txt{
    width: 230px; height: 30px;
    text-align: center;
    font-size: 20px;
}

/* ------------- header ------------ */
.header .header_top{
    width: 1030px;
    margin: 0 auto;
}
.header .header_top{
    overflow: hidden;
}
.header .header_top .family_icon{
    width: 210px; height: 20px;
    float: left;
}
.header .header_top .gnb_top{
    float: right;
}
.header .header_top .gnb_top li{
    display: inline-block;
    font-size: 12px;
    color: #999;
    padding: 0 5px;
}
.header .header_top .gnb_top a:hover{
    color: #1b2d51;
}
.header .logo_box{
    position: relative;
    margin: 20px;
}
.header .logo_box .logo{
    width: 200px; height: 70px;
    margin: 0 auto;
}
.header .logo_box .search_box{
    position: absolute;
    right: 0; top: 30px;
}

/* ------------- gnb ------------ */
.gnb_outer{
    width: 100%; height: 30px;
    background-color: #1b2d51;
    margin-bottom: 15px;
}
.gnb{
    width: 1030px;
    margin: 0 auto;
}
.gnb li{
    display: inline-block;
    color: white;
    padding: 0 26px;
    line-height: 30px;
}

/* ---------- wrap ----------- */
.wrap{
    width: 1030px;
    margin: 0 auto;
}

/* ----------- visual box ----------- */
.visual_box{
    display: flex;
    margin-bottom: 50px;
}
.visual_box .visual_main{
    width: 700px; height: 480px;
    margin-right: 15px;
}
.visual_box .banner_box{}
.visual_box .banner_box .banner_top{
    width: 315px; height: 355px;
    margin-bottom: 15px;
}
.visual_box .banner_bot{
    width: 315px; height: 160px;
}

/* ----------- content ----------- */
.choice{
    width: 100%;
    margin: 10px auto;
    display: flex;
}

/* ----------- content01 ---------- */
.content01{
    width: 100%; height: 720px;
    margin: 0 auto;
    display: flex;
}
.content01_r{
    width: 490px; height: 720px;
    margin: 10px;
}
.content01_l{
    width: 490px; height: 720px;
    margin: 10px;
}
.prod_big{
    width: 490px; height: 420px;
}
.prod_small{
    width: 230px; height: 230px;
    display: inline-block;
    margin: 5px;
}

/* ----------- content02 ---------- */
.content02{
    width: 100%; height: 420px;
    margin: 0 auto;
    display: flex;
}
.content02_r{
    width: 360px;height: 420px;
}
.content02_r > div{
    width: 340px; height: 190px;
    margin: 10px;
}
.content02_m{
    width: 360px;height: 420px;
}
.content02_m > div{
    width: 280px; height: 400px;
    margin: 10px;
}
.content02_l{
    width: 360px;height: 420px;
}
.content02_l > div{
    width: 340px; height: 190px;
    margin: 10px;
}

/* ----------- content03 ---------- */
.content03{
    width: 100%; height: 190px;
    margin: 0 auto;
    display: flex;
}

.content03 > div{
    width: 505px; height: 170px;
    margin: 10px;
}

/* ---------- foooter ---------- */
.footer{
    width: 1030px; height: 30px;
    margin: 10px auto;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.footer_top_r > ul >li{
    display: inline-block;
    font-size: 12px;
    color: black;
    padding: 0 5px;
}
.footer_top_r > ul >li:hover{
    color: #1b2d51;
}